.about-me{
	height: 100vh;
	height: calc(100vh - 75px);
	min-height: auto;
	background-image: url("../img/about-me-background.jpg");
	background-image: none;
	background: #514e59;
	background-position-y: 50%;
	background-size: cover;
	width: 100%;
	height: auto;
	.container, .row{
		height: 100%;
	}
}
.about-me__block{
	height: 100vh;
	height: auto;
	height: 100%;
	display: flex;
	align-items: center;
	color: $accentColor;
	.info{
		background-color: rgba(32,32,43,.8);
		padding-left: 69px;
		padding-right: 50px;
		padding-top: $pTop;
		padding-bottom: 57px;
		height: 100%;
		width: 100%;
		h3{
			font: 40px "montserrat-regular", sans-serif;
			font-weight: 500;
			line-height: 50px;
		}
		.about-me__list{
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			.about-me__item{
				color: $accentColor;
				font: 15px/25px "opensans-regular", sans-serif;
				font-weight: 400;
				margin-bottom: 15px;
				display: block;
				&:before{
					content: "—";
					font-size: 16px;
					display: inline-block;
					width: 16px;
					margin-left: -32px;
					margin-right: 16px;
				}
			}
		}
	}
}

.about-me__item{
	&:nth-child(1){
		opacity: 0;
		animation-delay: 0.2s;
	}
	&:nth-child(2){
		opacity: 0;
		animation-delay: 0.4s;
	}
	&:nth-child(3){
		opacity: 0;
		animation-delay: 0.6s;
	}
	&:nth-child(4){
		opacity: 0;
		animation-delay: 0.8s;
	}
	&:nth-child(5){
		opacity: 0;
		animation-delay: 1.0s;
	}
	&:nth-child(6){
		opacity: 0;
		animation-delay: 1.2s;
	}
	&:nth-child(7){
		opacity: 0;
		animation-delay: 1.4s;
	}
	&:nth-child(8){
		opacity: 0;
		animation-delay: 1.6s;
	}
}
.about-me__pic-wrap img{
	width: 100%;
}
.about-me__block .info{
	padding-top: 0;
	padding-bottom: 0;
}
