.article-page{
	.main-navbar--fixed{
		position: fixed;
		display: flex;
	}
}
.article-content{
	.article__header{
		font-family: "montserrat-regular", sans-serif;
		font-weight: 400;
		font-size: 40px;
		font-weight: 500;
		line-height: 50px;
		margin-top: 147px;
	}
	.article__data-publish{
		    font-family: "opensans-regular", sans-serif;
		    color: #b5b5b5;
		    font-size: 14px;
		    font-weight: 400;
		    line-height: 25px;
		    display: block;
		    margin-top: 10px;
   			margin-bottom: 25px;
	}
	.article__text-block{
		display: flex;
		.colontitle{
			width: 300px;
			min-width: 300px;
			max-width: 300px;
		}
		 p{
			margin-top: 15px;
			padding-bottom: 10px;
			max-width: 768px;
		}
	}
	.full-video-block{
		margin-bottom: 60px;
		margin-top: 45px;
	}
	.video-wrap{
		width: 100%;
	    .rel{
			padding-bottom: 42.8%;
			position: relative;
			overflow: hidden;
			.video{
		 		margin: 0;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
		 	}
	    }
	}
	.playpause{
		width: 90px;
		height: 90px;
	}

	p{
		font: 16px/25px "opensans-regular", sans-serif;
		color: #20202b;
		font-weight: 400;
	}
	.red-text{
		color: #ff8666;
	}

	.article__quoter{
		padding-right: 40px;
		height: 0;
		position: relative;
		&.float-top{
			margin-top: -80px;
		}
		&.float-bottom{
			margin-top: 91px;
		}
		.article__quoter-header{
			height: 80px;
			display: flex;
			margin-bottom: 25px;
			.article__quoter-img-wrap{
				width: 100px;
				height: 70px;
				min-width: 100px;
				min-height: 70px;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
					display: block;
				}
			}
			h3.article__quoter-text{
				color: #20202b;
				font-family: "montserrat-regular", sans-serif;
				font-size: 14px;
				font-weight: 700;
				line-height: 20px;
				margin-left: 10px;
				margin-top: 0;
			}
		}
	}
	.article__quoter-text{
		font-family: "opensans-regular", sans-serif;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}
	.blue-quote{
		color: #7e89a1;
		font-family: "montserrat-regular", sans-serif;
		font-style: italic;
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		background-color: #f0f3fa;
		padding: 28px 27px 28px 28px;
		max-width: 200px;
		justify-content: flex-end;
		margin-left: 20px;
		min-width: 200px;
		display: table;
	}
	.floatRight{
		float: right;
	}
	.floatDown{
		margin-top: 40px;
	}
	.article__count-list{
		display: block;
		padding: 0;
		margin: 0;
		list-style-type: none;
		margin-top: 15px;
		margin-bottom: 28px;
		li{
			display: flex;
			margin-bottom: 10px;
			span.article_span-count{
				margin-left: 60px;
				margin-right: 25px;
				display: block;
				font-family: "opensans-regular", sans-serif;
				font-size: 16px;
				font-weight: bold;

			}
			p{
				margin: 0;
				padding: 0;
				max-width: 650px;
			}
		}
	}
	h2{
		color: #20202b;
		font-family: "montserrat-bold", sans-serif;
		font-size: 25px;
		font-weight: 700;
		line-height: 30px;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	h3{
		color: #20202b;
		font-family: "montserrat-bold", sans-serif;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.article__list{
		font: 16px/25px "opensans-regular", sans-serif;
		color: #20202b;
		font-weight: 400;
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-top: 10px;
		margin-bottom: 40px;
		li{
			margin-left: 70px;
			margin-bottom: 12px;
			&:before{
				content: "—";
				display: inline-block;
				margin-left: -15px;
				padding-right: 30px;
			}	
		}
	}
	.gallery{
		margin-top: 20px;
		margin-bottom: 20px;
		.img-wrap{
			height: 100%;
			width: auto;
			overflow: hidden;
			width: 770px;
			height: 510px;
			img{
				height: 100%;
				width: 100%;
				display: block;
				object-fit: cover;
			}
		}
		.images-wrap{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			height: 100%;
		}
		.img-ltl-wrap{
			.more-items{
				position: absolute;
			    display: flex;
			    align-items: center;
			    height: 100%;
			    justify-content: center;
			    width: 100%;
			    flex-wrap: wrap;
			    div{
					display: block;
					text-align: center;
					font-size: 14px;
					b{
						font-size: 25px;
					}
			    }
			}
			width: 170px;
			height: 150px;
			margin-bottom: 30px;
			&:last-child{
				position: relative;
				color: #fff;
				
				&:before{
					background-color: rgba(0,0,0,.5);
					content: "";
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					color: #fff;
				}
			}
			img{
				height: 100%;
				width: 100%;
				display: block;
				object-fit: cover;
			}
		}
	}
	.social{
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-top: 16px;
		li{
			display: block;
			width: 40px;
			height: 40px;
			margin-right: 15px;
			border-radius: 50%;
			&.fb{
				background-image: url("../img/icons/png/fb.png");

			}
			&.ok{
				background-image: url("../img/icons/png/ok.png");
			}
			&.twitter{
				background-image: url("../img/icons/png/twiter.png");
			}
			&.vk{
				background-image: url("../img/icons/png/vk.png");
			}
			&.mail{
				width: 200px;
				background-image: url("../img/icons/png/vk.png");
				background: transparent url("../img/icons/png/mail.png");
				background-repeat: no-repeat;
				background-position: 0;
				border-radius: 0;
				margin-left: 50px;
				display: flex;
				align-items: center;
				padding-left: 40px;
				line-height: 40px;
				a{
					color: #7e89a1 !important;
					font-family: "opensans-regular", sans-serif;
					font-size: 14px;
					font-weight: 400;
				    margin-left: -45px;
				    padding-left: 45px;
				    width: 250px;
				}
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.footer.article{
	padding-bottom: 97px;
	.copyright-text,.copyright-info,.copyright-owner,.license{
		color: #7e89a1 !important;
	}
}
