.calculator{
//	margin-bottom: 120px;
	.right-clc{
		margin-top: 24px;
	}
	.calculator__option-long{
		margin-top: 20px;
	}
	.individual-calc{
		margin-top: 21px;
		margin-top: 21px;
	}
}

.calculator__header{
	color: #20202b;
	font-family: "montserrat-regular", sans-serif;
	font-size: 40px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
	margin-top: $pTop;
	margin-bottom: 40px;
}
.calculator__parameters{
	display: block;
	width: 570px;
	margin: 0 auto;
}
.calculator__option,.calculator__option-long{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.calculator__option-long{
	flex-wrap: wrap;
	.calculator__option-panel{
		display: flex;
		max-width: 440px;
		min-width: 440px;
		width: 440px;
		height: 100%;
	}
	.calculator__option-variant{
		width: 100%;
	}
}
.calculator__option-name{
	color: #20202b;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
}
.calculator__option-variant{
	height: 40px;
	align-items: center;
	width: 100%;
	label{
		height: 100%;
		width: 100%;
		display: block;
		text-align: center;
		line-height: 36px;
		font-family: "opensans-regular", sans-serif;
		font-size: 14px;
		border: 2px solid #d9e0ef;
		border-left: none;
		&:hover{
			background-color: #f0f3fa;
		}
	}
	&:first-child label{
		border-radius: 20px 0 0 20px;
		border-left: 2px solid #d9e0ef;
	}
	&:last-child label{
		border-radius: 0 20px 20px 0;
	}
}
.calculator__option-panel{
	display: flex;
	max-width: 372px;
	min-width: 372px;
	width: 372px;
	height: 100%;
}
.calculator__option-variant{
	input{
		display: none;
	}
	input:checked+label{
		background-color: #f00;
		background-color: #d9e0ef;
	}
}
.calculator__parameters-base-rate{
	&.fix{
	    position: fixed;
			animation: fadeIn 1s;
	    top: 80px;
	    z-index: 9;
	    border-top: 1px solid #20202b;
	    background-color: #fff;
	    left: 0;
	    width: 100%;
	    padding: 0;
	    margin: 0;
			padding-bottom: 21px;
			border: none;
			border-bottom: 1px solid #20202b;
	}
	.base-rate__val{
		display: block;
		margin: auto;
		text-align: center;
	}
	.base-rate__val-text{
		font-family: "montserrat-bold", sans-serif;
		font-size: 16px;
		line-height: 25px;
		font-weight: 700;
		color: #20202b;
		margin-right: 22px;
	}
	.base-rate__val-cur{
		font: 30px "montserrat-bold", sans-serif;
		color: #7e89a1;
	}
	.base-rate-info{
		color: #7e89a1;
		font-family: "montserrat-regular", sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		text-align: center;
	}
}

.calculator__option-long{
	&:first-child{
		margin-top: 21px;
	}
	margin-top: 40px;
	flex-wrap: wrap;
	align-items: flex-start;
	.calculator__option-name{
		width: 95px;
	}
	.calculator__option-panel{
		display: flex;
		flex-wrap: wrap;
		max-width: 440px;
		min-width: 440px;
		width: 440px;
		height: 100%;
		label{
			border-radius: 4em;
			margin: 0;
			line-height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		label:first-child,label:last-child{
			border: 2px solid #d9e0ef;
		}
	}
	.calculator__option-variant{
		margin-bottom: 10px;
		width: 100%;
		min-width: 440px;
		height: auto;
		min-height: 40px;
	}
}

.right-clc{
	margin-left: 31px;
	margin-top: 24px;
	.calculator__option-name{
		color: #20202b;
		font-family: "montserrat-bold", sans-serif;
		font-size: 16px;
		font-weight: 700;
		max-width: 100px;
	}
	.calculator__option-panel{
		display: flex;
		max-width: 440px;
		min-width: 440px;
		width: 440px;
		height: 100%;
	}
	.calculator__option--geo{
		align-items: flex-start;
		.calculator__option-variant{
			height: 60px;
			line-height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			label{
				line-height: 20px;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	.second-marketplace{
		margin-top: 37px;
	}
}
.individual-calc{
	display: flex;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	background-color: #7e89a1;
	height: 130px;
	margin: 21px 0 21px;
	justify-content: space-between;
	align-items: center;
	padding-left: 70px;
	padding-right: 70px;
	p{
		color: $accentColor;
		font-family: "montserrat-bold", sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
	}
	.button{
		width: 300px;
	}
}
