@import "vars";


/*==========  Desktop First  ==========*/


// ≥1200
@include media-breakpoint-down(lg) {
	.menu-style, .main-navbar .menu, .main-navbar--fixed .menu{
		width: 100%;
	}
	.reasons-block{
		width: 100%;
		padding-right: 32px;
		.reasons-to-trust__header {
			font-size: 32px;
			.gray-text{
				font-size: 32px;
			}
		}
	}
	.re-hash__cart-wrap .re-hash__cart{
		margin-left: 30px;
	}
	.additional-options{
		min-height: 950px;
	}
	.additional-options .additional-options__content-list {
	    display: block;
	    margin-top: 32px;
	    min-width: auto;
	    height: auto;
	    display: flex;
	    /* height: 100%; */
	    flex-wrap: wrap;
	    justify-content: space-between;
	    width: 350px;
	}
	.additional-options__img-bg{
		background-position: 0;
		height: 100%;
		position: relative;
	}
	.additional-options__content{

	}
	.additional-options .additional-options__content-list .additional-options__content-item img{
		height: 55px;
		width: 55px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item:nth-child(2){
		width: 150px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item{
		margin: 0;
		width: 150px;
		max-width: 170px;
		margin-bottom: 20px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item:first-child{
		margin-left: 0;
	}
	.additional-options .additional-options__wrap {
	    margin-top: 10px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    padding-right: 69px;
	    padding-left: 43px;
	    height: 100%;
	}
	.additional-options__content-history {
	    display: block;
	    position: absolute;
	    padding-left: 0;
	    width: 100%;
	    height: auto;
	    left: 0;
	    right: 0;
	    margin: 0;
	    padding: 22px;
	    z-index: 10;
	}
	.about-me{
		background-image: url("../img/about-me-background-fon-test.jpg");
		.info{
			width: 500px;
		}
	}
	.most-important-things__item.left-item,
	.most-important-things__item.center-item,
	.most-important-things__item.right-item{
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.most-important-things__item.right-item{
		margin-bottom: 80px;
	}
	.most-important-things__header{
		margin-top: 15px;
	}
	.my-proposition__banks .my-proposition__banks-list{
		flex-wrap: wrap;
		.my-proposition__bank{
			display: block;
		    width: 100%;
		    text-align: center;
		    margin-bottom: 50px;
		}
	}
	.calculator__parameters-long{
		width: 570px;
		margin: 0 auto;
	}
	.attention{
		background-position: 0 50%;
	}

	.news__item-video{
		width: 90%;
	}
	.news__item{
		width: 40%;
	}
	.popup-thk{
		align-items: center;
		.tnk-block{
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.article-content .gallery .img-wrap{
		width: 100%;
		height: auto;
	}
	.article-content .gallery .img-ltl-wrap {
	    width: 150px;
	    height: 120px;
	    margin-bottom: 30px;
	}
	.article-content .gallery .images-wrap{
		justify-content: space-between;
		margin-top: 12px;
	}
	/*antianimation*/
	.about-me__block .info .about-me__list .about-me__item{
		opacity: 1;
	}
	.reasons-to-trust__BTI{
		opacity: 1;
	}
	.reasons-to-trust__quick-shell{
		opacity: 1;
	}
	.reasons-to-trust__item{
		opacity: 1;
	}
	.re-hash__cart{
		opacity: 1;
	}
	.re-hash__header{
		opacity: 1;
	}
	.additional-options__content-header, .additional-options__content-item,.additional-options__content-history,.additional-options__img-bg{
		opacity: 1;
	}
	.article-content .gallery .img-wrap img{
		max-height: 410px;
	}
	.additional-options .additional-options__wrap{
		padding-right: 0;
	}
	.additional-options .additional-options__content-header{
		font-size: 30px;
		text-align: center;
		margin-top: 51px;
	}
	.additional-options .additional-options__content-list{
		width: 100%;
	}
	.additional-options .additional-options__content-list .additional-options__content-item{
		width: 80px;
	}
	.additional-options .additional-options__content-list{
		justify-content: space-between;
	}
	.additional-options .additional-options__content-list .additional-options__content-item .additional-options__content-item-text {
    display: block;
    width: 100%;
    font: 12px "opensans-regular", sans-serif;
    color: #20202b;
    text-align: center;
    line-height: 20px;
	}
	.additional-options .additional-options__shadows{
		position: absolute;
	}
	.additional-options .additional-options__img-bg {
	    position: relative;
	    width: 400px;
	    min-width: 400px;
	    max-width: 400px;
	    height: 100%;
	    background-image: url(../img/man.png);
	    -webkit-background-size: 356px auto;
	    background-size: 356px auto;
	    background-repeat: no-repeat;
	    background-position: 0 100%;
	    -webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	    align-self: flex-end;
	    margin-right: 45px;
	    z-index: 9;
	    margin-top: 540px;
	}
	.additional-options__content-history {
    display: block;
    position: absolute;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding: 22px;
    z-index: 10;
    margin-top: 200px;
	}
	.additional-options__content-history {
    display: block;
    position: relative;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding: 22px;
    z-index: 10;
    margin-top: 200px;
	}
	.additional-options .additional-options__wrap{
		height: auto;
	}
	.additional-options .additional-options__img-bg{
		margin-top: 0;
	}
	.additional-options .additional-options__img-bg{
		min-height: 600px;
	}
	.additional-options__content-history{
		margin-top: 0;
	}
	.additional-options{
    min-height: 700px;
    height: 700px;
    overflow: hidden;
	}
	.additional-options__content-history {
    display: block;
    position: relative;
    padding-left: 0;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    margin: 0;
    padding: 22px;
    z-index: 10;
    margin-top: 200px;
    position: absolute;
    margin-top: 67px;
    bottom: 0;
		padding-left: 50%;
		z-index: 8;
	}
	.additional-options .additional-options__img-bg{
		position: relative;
		top: 90px;
		z-index: 9;
	}
	.most-important-things__item-name{

		&:after{
			display: block;
			content: "";
			background-image: url("../img/icons/svg/arrow.svg");
			width: 20px;
			height: 10px;
		}
	}
	.most-important-things__item-name:after {
	    display: block;
	    content: "";
	    background-image: url(../img/icons/svg/arrow.svg);
	    width: 100%;
	    height: 10px;
	    margin-top: 5px;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    transform: rotate(270deg);
	    /* background-color: #f00; */
	    width: 10px;
	    height: 18px;
	    margin: 0 auto;
	    transition: all .5s;
	}
	.active .most-important-things__item-name:after{
		transform: rotate(90deg);
		transition: all .5s;
	}
	.most-important-things__item-text{
		display: none;
	}
	.most-important-things__item.right-item{
		margin-bottom: 0;
	}
	.section.my-proposition{
		height: auto;
	}
	.my-proposition__banks .my-proposition__banks-list .my-proposition__bank{
		width: 33%;
	}
	.my-proposition__banks .my-proposition__banks-list{
		justify-content: center;
		margin-bottom: 0;
	}
	.my-proposition__banks .button{
		display: none;
	}
	.my-proposition .my-proposition__offers .container, .my-proposition .my-proposition__offers .row, .my-proposition .my-proposition__offers .row + div{
		height: 320px;
	}
	.attention{
		margin-bottom: 0;
	}
	.news__item{
		 margin: 15px 40px;
	}
}

// ≥1024px
@include media-breakpoint-down(md) {
	.article-content .article__header{
		font-size: 22px;
	}
	.tablet-none{
		display: none;
		&.active{
			display: flex;
		    position: absolute;
		    z-index: 999;
		    background: rgba(0,0,0,.8);
		    margin: 0;
		    padding: 0;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    min-height: 600px;
		    height: 100vh;
		    color: #000;
		    align-items: center;
		    flex-direction: column;
		    .menu {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    padding: 0;
			    margin: 0;
			    list-style-type: none;
			    height: 100%;
			    flex-direction: column;
			    justify-content: flex-start;
    			margin-top: 80px;
			    .menu__item{
				    margin-bottom: 15px;
				    font-size: 30px;
				    border-bottom: 1px solid #fff;
				    width: 100%;
				    justify-content: center;
				    display: flex;
				    align-items: center;
				    height: 40px;
				}
			}
		}
	}
	.contacts{
		margin-right: 60px;
	}
	.hamburger {
	    position: absolute;
	    right: 0;
	    top: 50%;
	    margin: 0;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    height: 40px;
	    width: 40px;
	    padding: 0;
	    display: flex;
	    outline: 0 !important;
	    z-index: 999;
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before,.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
		background-color: #fff;
	}

	.main-navbar--fixed .hamburger-inner,
	.main-navbar--fixed .hamburger-inner:after,
	.main-navbar--fixed .hamburger-inner:before{
		background-color: #000;
	}
	.main-navbar--fixed .hamburger.is-active .hamburger-inner,
	.main-navbar--fixed .hamburger.is-active .hamburger-inner:after,
	.main-navbar--fixed .hamburger.is-active .hamburger-inner:before{
		background-color: #fff;
	}

	.main-navbar--fixed .menu__link{
		color: #fff;
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-bottom: 40px;
	}
	.reasons-to-trust__ad{
		justify-content: center;
	}

	.reasons-to-trust{
		height: 100% !important;
	}
	.re-hash{
		height: auto;
		padding-bottom: 150px;
	}

	.re-hash__cart{
		width: 330px;
		padding: 10px 15px;
		height: 220px;
	}
	.additional-options .additional-options__content-header{
		font-size: 32px;
		line-height: 40px;
	}
	.additional-options .additional-options__content-list{
		width: 320px;
	}
	.positive-flat{
		height: 100vh;
	}

	.feedback{
		padding-top: 30px;
		overflow: hidden;
		.feedback__item-list{
			margin-top: -140px;
			position: static;
		}
		.feedback__header{
			margin-top: 20px;
		}
	}
	.attention{
		background:none;
		max-height: 100%;
		height: 100%;
	}
	.attention .img-for-mobile__stop {
	    display: block;
	    object-fit: cover;
	    width: 100%;
	}
	.map .map-yandex {
	    position: static;
	    left: 0;
	    right: 0;
	    top: 80px;
	    bottom: 0;
	    background-color: #400;
	    height: 500px;
	    width: 100%;
	}
	.map .map-contacts {
	    width: 100%;
	    height: auto;
	}
	.map{
		margin-top: 0;
		padding-top: 0;
		min-height: auto;
	}
	.map-contact-wrap .ac{
		align-items: flex-start;
		margin-top: 30px;
	}
	.map-contact-wrap{
		height: auto;
		margin-bottom: 30px;
	}
	.news__item, .news__item-video{
		width: 100%;
	}
	.news__item .news__img-wrap .news__img{
		width: 100%;
		height: 100%;
	}
	.popup-free-sell .popup__inputs-wrap .input-error{
		position: static;
		width: 100%;
		text-align: center;
		display: block;
		margin: 0;
		margin-top: -5px;
	}
	.article-content .article__text-block{
		flex-wrap: wrap;
	}
	.article-content .article__quoter {
		width: 400px;
	    height: auto;
	    .article__quoter-text{
			margin-top: 0;
	    }
	    .article__quoter-header{
			margin-bottom: 0;
	    }
	}
	.article-content .blue-quote{
		min-width: 100%;
		margin: 15px 0;
		margin-top: -5px;
	}
	.article-content .gallery .img-ltl-wrap {
	    width: 115px;
	    height: 75px;
	    margin-bottom: 30px;
	}
	.article-content .gallery .images-wrap{
		margin-top: 6px;
	}
	.article-content .article__text-block .colontitle{
		width: 100%;
		min-width: 100%;
		max-width: 100%;
	}
	.article-content .gallery .img-wrap img{
		max-height: 310px;
	}

	.about-me{
		background-image: url('../img/Main_mobile.jpg');
	}
	.about-me__block{
		justify-content: flex-end;
		.info{
			width: 400px;
		}
	}
	.about-me__block .info .about-me__list .about-me__item {
    color: #fff;
    font: 13px/20px "opensans-regular", sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
    display: block;
	}
	.about-me__block .info h3{
		font-size: 31px;
	}
	.about-me__block .info{
		padding-top: 20px;
	}
	.additional-options .additional-options__img-bg {
    position: absolute;
    top: 51px;
    z-index: 9;
		display: block;
	}
	.additional-options__content-history{
		position: static;
	}
	.additional-options .additional-options__content-list {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
	}
	.additional-options {
    min-height: 700px;
    height: auto;
    overflow: hidden;
	}
	.additional-options .additional-options__shadows {
    position: absolute;
	}
	.additional-options__content-history{
		padding-left: 21px;
		margin-top: 300px;
	}
	.additional-options .additional-options__wrap{
		padding-left: 0;
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-top: 20px;
	}
	.reasons-block .reasons-to-trust__header{
		margin-bottom: 20px;
	}
	.reasons-block .reasons-to-trust__header{
		font-size: 31px;
	}
	.re-hash__header {
	    font: 31px "montserrat-regular", sans-serif;
	    letter-spacing: .128px;
	    font-weight: 500;
	    display: block;
	    margin: 21px auto 32px;
	    color: #fff;
	    max-width: 760px;
	    text-align: center;
	}
	.additional-options .additional-options__img-bg {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -170px;
    z-index: 1;
    display: block;
    -webkit-background-size: 250px 250px;
    background-size: 250px;
    padding-right: 0;
    margin-right: 0;
    background-position-x: 50%;
	}
	.additional-options{
		min-height: 890px;
	}
	.additional-options__content-history{
		margin-top: 300px;
		position: relative;
		z-index: 9;
	}
	.most-important-things__header{
		font-size: 31px;
	}
	.feedback h2.feedback__header{
		margin-top: 21px;
		font-size: 31px;
	}
	.feedback{
		padding-top: 0;
	}
	.attention .img-for-mobile__stop{
		display: none;
	}
	.attention .attention__header{
		font-size: 31px;
		text-align: center;
		display: block;
		width: 100%;
		margin-top: 21px;
	}
	.map{
		height: auto;
	}
	.news__item{
		width: 45%;
		img{
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
	.news__item-video{
		width: 100%;
	}
	.news__item {
    margin: 15px 15px;
	}
	.re-hash__cart-wrap {
		.slick-initialized .slick-slide{
			margin-right: 15px;
		}
	}
	.map .map-consult-box {
    margin-top: 32px;
    margin-right: 20px;
	}
	//*********LANDSCAPE*********//
	.landscape{

		.re-hash{
			min-height: 400px;
		}
		.interesting-things__header, .map .map-contacts .map-header,.feedback h2.feedback__header,	.about-me__block .info h3, .reasons-block .reasons-to-trust__header, .re-hash__header, .additional-options .additional-options__content-header, .most-important-things__header,.reasons-block .reasons-to-trust__header .gray-text ,.attention .attention__header,.attention .important-thing .important-head,.calculator__header,.my-proposition__banks .my-proposition__banks-header, .my-proposition__banks .my-proposition__banks-header{
		    font-size: 22px;
		    line-height: 35px;
		    text-align: center;
		    font-weight: bold;
		}
		.main-page__scroll {
	    position: absolute;
	    left: 50%;
	    bottom: 22px;
		}
		.most-important-things__header{
			margin-bottom: 15px;
		}
		.most-important-things .most-important-things__wrap{
			padding-top: 0;
			padding-bottom: 0;
		}
		.section.calculator{
			padding-top: 0;
		}
		.positive-flat .desc-wrap{
			height: 50px;
			bottom: 25px;
			&:after, &:before{
				height: 50px;
		    background-size: cover;
		    background-repeat: no-repeat;
		    width: 22px;
			}
		}

	}
	.tablet-portrait{
		.about-me__block {
	    justify-content: flex-start;
	    height: auto;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
			.info{
				width: 100%;
			}
		}
	}


}
@media only screen and (max-width: 1023px){
	.about-me__block .info {
		width: 100%;
		background: none;
		padding-top: 0;
	}
	.about-me__block{
		height: auto;
		padding-bottom: 0px;
	}
	.about-me{
		height: auto !important;
		background: none;
		background-color: rgba(32, 32, 43, 0.8);
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.about-me__block .info:after {
    content: "";
    display: block;
    width: 100%;
    background-color: #f00;
    height: 300px;
    background-image: url(../img/Main_mobile.jpg);
    -webkit-background-size: cover;
    background-size: cover;
	}
	.re-hash{
		padding-bottom: 0;
	}
}
// ≥768px
@include media-breakpoint-down(sm) {
	.re-hash__cart-wrap .slick-slide{
		margin: auto !important;
		div:first-child{
			width: 90%;
			margin: auto;
		}
	}
	.main-page__description-wrap .main-page__description-name{
		font-size: 25px;
		display: inline-block;
		width: auto;
	}
	.main-page__description-wrap .main-page__description-main-text {
    padding-bottom: 10px;
    width: auto;
    display: inline-block;
    margin-top: 5px;
	}
	.main-page__description-wrap .main-page__description-main-text .big-text{
		font-size: 31px;
	}
	.main-page__description-wrap{
		display: block;
		width: 100%;
	}
	.main-page__description-wrap .main-page__description-main-text .big-text {
	    font-size: 38px;
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	.main-page__description-main-text{
		padding-bottom: 10px;
		span{
			font-size: 25px;
			text-align: center;
			display: block;
			margin-top: 15px;
		}
	}
	.main-page__description-wrap .main-page__description-main-text{
		padding-bottom: 10px;
	}
	.about-me__block{
		height: auto;
		padding-bottom: 100px;
	}
	.about-me__block .info {
   		padding: 0;
	    padding-top: 80px;
	    margin-top: 20px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.about-me{
		height: auto !important;
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.reasons-block .reasons-to-trust__header{
		text-align: center;
	}
	.re-hash{
		max-height: 100vh;
	}
	.re-hash__cart-wrap{
		display: flex;
		justify-content: space-between;
		width: 370px;
		margin: 0 auto;
	}
	.re-hash__cart-wrap .re-hash__cart{
		width: 100%;
		margin: 0 !important;
		box-shadow: none;
	}
	.section.additional-options{
		height: auto!important;
	}
	.additional-options__wrap{
		flex-wrap: wrap;
	}
	.additional-options__content{
		order: 1;
		width: 100%;
		margin-bottom: 100px;
	}
	.additional-options .additional-options__img-bg {
	    position: absolute;
	    height: 400px;
	    background-image: url(../img/man.png);
	    background-size: 312px 519px;
	    background-repeat: no-repeat;
	    z-index: 9;
	    bottom: -190px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.additional-options__content-history {
	    display: block;
	    position: static;
	    padding-left: 0;
	    width: 100%;
	    height: auto;
	    left: 0;
	    right: 0;
	    margin: 0;
	    padding: 22px;
	    z-index: 10;
	    margin-bottom: 30px;
	    margin-top: 300px;
	    position: relative;
	    &:before{
			content: "";
			display: block;
			width: 100%;
			height: 250px;
			margin-top: -200px;
			background-image: url("../img/man.png");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: 50% 0px;
			position: absolute;
			bottom: 100%;
			left: 0;
			z-index: 0;
	    }
	}
	.additional-options .additional-options__img-bg{
		display: none;
	}
	.additional-options .additional-options__content-list{
		width: 100%;
		justify-content: space-around;
		margin-bottom: 30px;
	}
	.additional-options .additional-options__content-header{
		text-align: center;
	}
	.additional-options .additional-options__img-bg {
	    position: absolute;
	    width: 312px;
	    min-width: 312px;
	    max-width: 312px;
	    height: 519px;
	    background-image: url(../img/man.png);
	    -webkit-background-size: 312px 519px;
	    background-size: 312px 519px;
	    background-repeat: no-repeat;
	    background-position: 0 100%;
	    -webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	    align-self: flex-end;
	    margin-right: 45px;
	    z-index: 9;
	    bottom: -190px;
	}
	.additional-options__content-history .button{
		width: 100%;
	}
	.additional-options__img-bg{
		order: 2;
		width: 100%;
	}

	.positive-flat .desc-wrap{
		width: 80%;
		h3{
			font-size: 20px;
		}
	}
	.most-important-things__header{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 15px;
	}

	.most-important-things__item-text{
		display: none;
	}
	.most-important-things__wrap{
		min-height: 900px;
	}
	.most-important-things{
		height: 100% !important;
	}

	.my-proposition__banks .my-proposition__banks-list,.my-proposition__banks{
		display: none;
	}

	.offers-info{
		width: 470px;
		height: 250px;
	}
	.calculator__parameters-base-rate{
		&.fix{
		    position: fixed;
		    top: 0px;
		}
	}
	.calculator__option, .calculator__option-long {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin-bottom: 20px;
	    flex-wrap: wrap;
	    text-align: center;
	    margin: 0 auto;
	}
	.calculator__option-name{
		width: 100%;
	}
	.calculator__parameters-long{
		width: 100%;
	}
	.calculator__option-long .calculator__option-name{
		width: 100%;
	}
	.section.calculator{
		padding-top: 20px;
	}
	.calculator__option-long .calculator__option-panel {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    max-width: 90%;
	    min-width: 90%;
	    width: 90%;
	    height: 100%;
	    margin: auto;
	}
	.calculator__option-long .calculator__option-variant{
		width: 100%;
		min-width: 100%;
		margin-bottom: 15px;
	}
	.calculator__option-panel {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    max-width: 90%;
	    min-width: 0;
	    width: 90%;
	    height: 100%;
	    margin: 0 auto;
	    margin-bottom: 30px;
	}
	.calculator__header{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 32px;
	}
	.calculator__parameters{
		width: 100%;
	}
	.calculator__option-name{
		margin-bottom: 15px;
	}
	.calculator__option-long:first-child{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.right-clc .calculator__option-panel{
		width: 90px;
		max-width: 90%;
		min-width: 90%;
	}
	.calculator__option-long .calculator__option-name{
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.right-clc .calculator__option-name {
	    color: #20202b;
	    font-family: "montserrat-bold", sans-serif;
	    font-size: 16px;
	    font-weight: 700;
	    max-width: 100px;
	    margin: 0 auto;
	    margin-bottom: 15px;
	    margin-top: 30px;
	}
	.right-clc .second-marketplace{
		margin-top: 0;
	}
	.individual-calc {
	    margin: 10px;
	    flex-wrap: wrap;
	    height: auto;
	    padding: 10px 20px;
	    margin-top: 30px;
	}
	.attention{
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.map .map-contacts{
		min-width: 400px;
		margin: 30px 10px;
		padding: 15px;
		min-width: 100px;
	}
	.map .map-contacts .map-office__address, .map .map-contacts .map-office__time{
		margin-left: 0;
	}
	.map-contact-wrap{
		height: auto;
	}
	.map{
		margin-top: 0;
		padding-top: 0;
		height: auto;
	}
	.news__item, .news__item-video{
		width: 95%;
	}
	.news__item .news__img-wrap .news__img{
		width: 100%;
		height: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	#domclick__mortgage{
		flex-wrap: wrap;
	}
	#domclick__calculator{
		min-width: 100%;
	}
	#domclick__result{
		min-width: 100%;
	}
	.popup-thk img {
	    display: block;
	    height: 100%;
	    height: 500px;
	    bottom: 0;
	    float: left;
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    z-index: 1;
	    width: auto;
	}
	.popup-thk .tnk-block  .thk-text{
		z-index: 99;
	    background: #7e89a1;
	    width: 100%;
	    padding: 5px;
	    color: #fff;
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    justify-content: center;
	    /* background: #f00; */
	    border-radius: 10px;
	    padding: 15px;
	}
	.article-content .article__count-list li span.article_span-count{
		margin-left: 0;
	}
	.article-content .article__list li{
		margin-left: 0;
	}
	.article-content .article__list li:before{
		margin-left: 0;
		padding-right: 10px;
	}
	.article-content .article__list{
		margin-bottom: 20px;
	}
	.article-content .gallery .img-ltl-wrap {
	    width: 85px;
	    height: 70px;
	    margin-bottom: 30px;
	}
	.article-content .article__quoter.float-bottom{
		margin-top: 0;
	}
	.article-content .gallery .img-wrap img {
    	max-height: 250px;
	}
	.main-page__description{
		text-align: center;
	}
	.news__item{
		width: 48%;
	}
	.news__item-video{
		width: 100%;
	}
	.about-me{
		background: none;
    background-color: rgba(32, 32, 43, 0.8);
	}
	.about-me__block {
    height: auto;
    padding-bottom: 21px;
	}
	.about-me__block .info {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
		background: none;
		&:after{
			content: "";
			display: block;
			width: 100%;
			background-color: #f00;
			height: 300px;
			background-image: url("../img/Main_mobile.jpg");
			background-size: cover;
		}
	}
	.about-me__block .info .about-me__list .about-me__item:before{
		margin-left: 0;
		margin-right: 15px;
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-top: 10px;
		padding-bottom: 0;
	}
	.reasons-to-trust__BTI{
		margin-bottom: 0;
	}
	.reasons-to-trust__quick-shell{
		margin-bottom: 28px;
	}
	.additional-options__content-header{
		margin-top: 20px;
	}
	.re-hash{
		padding-bottom: 25px;
	}
	.additional-options .additional-options__shadows{
		position: static;
	}
	.additional-options__content{
		margin-bottom: 0;
	}
	.additional-options__content-history:before {
    content: "";
    display: block;
    width: 100%;
    height: 308px;
    margin-top: -200px;
    background-image: url(../img/man.png);
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 0;
    background-size: contain;
	}
	.feedback .feedback__item-list .slick-prev, .feedback .feedback__item-list .slick-next {
    top: 260px;
    z-index: 999;
	}
	.calculator .individual-calc{
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.about-me__block .info{
		padding-left: 10px;
		padding-right: 10px;
	}
	.my-proposition__banks .my-proposition__banks-list, .my-proposition__banks{
		display: none;
	}
	.section.my-proposition{
		min-height: auto;
	}
	.most-important-things .most-important-things__wrap{
		min-height: auto;
	}
	.news__item {
    margin: 15px 5px;
	}
	.my-proposition__banks .my-proposition__banks-list, .my-proposition__banks{
		display: flex;
		flex-wrap: wrap;
	}
	.my-proposition__banks .my-proposition__banks-list .my-proposition__bank{
		width: 50%;
	}
	.my-proposition__banks .my-proposition__banks-header{
		font-size: 31px;
	}
}
@media only screen and (max-width: 550px){

	.article-content .article__text-block {
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    max-width: 500px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.article-content .gallery .img-ltl-wrap {
	    width: 150px;
	    height: 100px;
	    margin-bottom: 10px;
	}
	.article-content .article__text-block{
		padding-left: 10px;
		padding-right: 10px;
	}
	.article-content .social li.mail{
		margin-top: 20px;
	    margin-left: 0;
	}
	.main-navbar, .main-navbar--fixed{
		padding-right: 10px;
		padding-left: 10px;
	}
	.about-me__block .info{
		padding-left: 10px;
		padding-right: 10px;
	}
	.news__item {
    width: 90%;
    margin: 15px auto !important;
	}
	.additional-options__content {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
	}

	.additional-options .additional-options__content-header{
		margin-top: 0px;
	}
	.footer {
    margin-top: 25px;
    font: 14px/20px "opensans-regular", sans-serif;
    color: #fff;
    padding-bottom: 127px;
    padding-right: 10px;
    padding-left: 10px;
	}
	.my-proposition__banks .my-proposition__banks-list .my-proposition__bank{
		display: flex;
		justify-content: space-around;
		max-width: 195px;
	/*	justify-content: center;*/
	}
	.my-proposition__banks .my-proposition__banks-list, .my-proposition__banks{
		padding-left: 10px;
		padding-right: 10px;
	}
	.landscape {
		.calculator__option-long:first-child{
			margin-bottom: 0;
		}
		.calculator .calculator__option-long{
			margin-top: 0;
		}
		.calculator__option-long .calculator__option-name{
			margin-bottom: 0;
			&:first-child{
				margin-top: 10px;
			}
		}
		.calculator .right-clc{
			margin-top: 0;
		}
		.right-clc .calculator__option-name{
			margin-top: 0;
		}
		.right-clc .calculator__option-panel{
			margin-bottom: 0;
		}
		.right-clc .calculator__option-name{
			font-family: "montserrat", sans-serif;
		}
		.calculator__option-name{
			margin-bottom: 5px;
		}
		.calculator__option-panel{
			margin-bottom: 10px;
		}
		.map-messengers .map-messengers-link img{
		    filter: grayscale(0%);
		}
	}
}
// ≥480px
@include media-breakpoint-down(xs) {
	.main-page{
		height: 100vh;
	}
	.about-me__block{
		height: auto;
		padding-bottom: 100px;
	}
	.about-me__block .info {
   		padding: 0;
	    padding-top: 80px;
	    margin-top: 20px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.about-me{
		height: auto !important;
	}
	.contacts{
		margin-right: 60px;
		.contacts__phone{
			display: none;
		}
	}
	.main-page__description-wrap .main-page__description-main-text .big-text {
	   // font-size: 28px;
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	.main-page__description-wrap .main-page__description-name{
		font-size: 28px;
	}
	.logo{
		height: 60px;
	    display: flex;
	    align-items: center;
	}
	.main-navbar .logo-icon, .main-navbar--fixed .logo-icon{
		width: 100px;
	}
	.main-navbar .contacts, .main-navbar--fixed .contacts {
	    color: #fff;
	    text-align: right;
	    height: 60px;
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	}
	.main-navbar .contacts .contacts__address, .main-navbar--fixed .contacts .contacts__address {
	    display: none;
	    font: 16px "montserrat-bold", sans-serif;
	    line-height: 25px;
	    color: #fff;
	    width: 100%;
	}
	.reasons-to-trust__BTI{
		width: 100%;
		max-width: 370px;
		border-radius: 10px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.re-hash__cart-wrap{
		display: flex;
		justify-content: space-between;
		width: 300px;
		margin: 0 auto;
	}
	.most-important-things__item{
		width: 300px;
	}
	.most-important-things__item-img-wrap{
		width: 300px;
	}
	.most-important-things__item-name{
		&:after{
			display: block;
			content: "";
			background-image: url("../img/icons/svg/arrow.svg");
			width: 20px;
			height: 10px;
		}
	}
	.most-important-things__item-name:after {
	    display: block;
	    content: "";
	    background-image: url(../img/icons/svg/arrow.svg);
	    width: 100%;
	    height: 10px;
	    margin-top: 5px;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    transform: rotate(270deg);
	    /* background-color: #f00; */
	    width: 10px;
	    height: 18px;
	    margin: 0 auto;
	    transition: all .5s;
	}
	.active .most-important-things__item-name:after{
		transform: rotate(90deg);
		transition: all .5s;
	}
	.offers-info{
		width: 90%;
		height: 300px;
		.button{
			width: 90%;
		}
	}
	.most-important-things__header{
		font-size: 32px;
	}
	.additional-options .additional-options__wrap{
		padding-right: 10px;
		padding-left: 10px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item{
		width: 100%;
	}
	.additional-options__content-list{
		justify-content: center;
	}
	.re-hash__cart-wrap{
		min-height: 300px;
	}
	.re-hash{
		min-height: 100vh;
		max-height: 100%;
	}
	.reasons-to-trust__quick-shell{
		margin-left: 10px;
		margin-right: 10px;
	}
	.additional-options__content{
		margin-bottom: 40px;
	}
	.most-important-things .most-important-things__wrap,.my-proposition{
		padding-top: 0;
	}
	.re-hash__cart-wrap{
		max-width: 95%;
	}
	.re-hash {
	    min-height: 100%;
	    max-height: 100%;
	    padding-bottom: 30px;
	    padding-top: 0;
	    .slick-prev, .slick-next{
			display: none !important;
	    }
	}
	.positive-flat{
		height: 100vh;
	}
	.attention .attention__header {
	    width: 90%;
	    font-size: 32px;
	    margin: 0 auto;
	    display: block;
	    height: auto;
	    margin-top: 30px;
	    text-align: center;
	    width: 100%;
	}
	.attention {
	    padding-top: 0px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.attention .attention__dont-disturb-block .attention__dont-disturb-list .attention__dont-disturb-item{
		margin-left: 0;
	}
	.map .map-contacts{
		box-shadow: none;
	}
	.map-messengers .map-messengers-link img{
		filter: grayscale(0%);
	}
	.map-messengers .map-messengers-link.active img{
		filter: grayscale(0%);
	}
	.map-messengers .map-messengers-link.active .messenger-link-attr{
		width: 0;
	}
	.interesting-things__header{
		font-size: 32px;
		padding-top: 0;
	}
	.interesting-things{
		padding-top: 0;
	}

	.popup__parameters{
		width: auto;
	}
	.popup__option-panel{
	    display: flex;
	    max-width: 372px;
	    min-width: 0px;
	    height: 100%;
	}
	.popup-free-sell .button{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.popup-free-sell .popup__inputs-wrap .input-choose::placeholder{
		font-size: 11px;
	}
	.popup-free-sell .popup__inputs-wrap input.popup__ad-link::placeholder{
		font-size: 11px !important;
	}
	.popup-thk .tnk-block{
		height: 400px;
	}
	.popup-free-sell .pic-list, .popup-ask .pic-list{
		justify-content: space-around;
	}
	.article-content .article__text-block {
	    flex-wrap: wrap;
	    min-width: 300px;
	    padding-left: 10px;
	    padding-right: 10px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.article-content .social {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    margin: 0;
	    padding: 0;
	    list-style-type: none;
	    margin-top: 16px;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.article-content .article__quoter{
		width: 300px;
		margin-bottom: 0 auto;
	}
	.article-content .article__text-block .colontitle{
		display: flex;
		justify-content: center;
	}
	.article-content .article__text-block{
		padding-left: 10px;
		padding-right: 10px;
	}
	.article-content .gallery {
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.article-content .gallery .img-ltl-wrap {
	    width: 49%;
	    height: 100px;
	    margin-bottom: 10px;
	}
	.article-content .gallery .img-wrap img{
		height: 250px;
	}
	footer .copyright-info {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    text-align: center;
	}
	.footer .license {
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 20px;
	    text-decoration: underline;
	    color: #fff;
	    text-align: center;
	    display: block;
	    width: 100%;
	    margin-top: 15px;
	}
	.footer.article{
		padding-bottom: 25px;
	}
	.copyright-text{
		text-align: center;
	}
	.footer.article .copyright-text, .footer.article .copyright-info, .footer.article .copyright-owner, .footer.article .license{
		text-align: center;
	}
	.popup-free-sell .info-text, .popup-ask .info-text{
		min-height: 120px;
	}
		.popup-thk img {
	    display: block;
	    height: 100%;
	    height: 70vh;
	    bottom: 0;
	    float: left;
	    position: absolute;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    z-index: 1;
	    width: auto;
	}
	.popup-thk .tnk-block {
    height: auto;
    max-height: 200px;
    bottom: 0;
	}
	.about-me__block .info{
		padding-top: 0;
	}
	.re-hash__cart-wrap{
		min-height: auto;
		margin-bottom: 50px;
		.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    border-color: #243d7e;
    opacity: .75;
	}
		.slick-dots{
			bottom: -40px;
		}
		.slick-dotted.slick-slider{
			margin-bottom: 40px;
		}
	}
	.additional-options .additional-options__content-header{
		margin-top: 10px;
	}
	.additional-options__content{
		margin-bottom: 0;
	}
	.additional-options .additional-options__content-list .additional-options__content-item{
		min-width: 100%;
		width: 100%;
		&:first-child{
			width: 100%;
			min-width: 100%;
		}
		&:last-child{
			margin-bottom: 40px;
		}
	}
	.reasons-block .reasons-to-trust__header, .re-hash__header, .additional-options .additional-options__content-header,.most-important-things__header {
    font-size: 28px;
    line-height: 40px;
	}
	.most-important-things__header{
		margin-bottom: 21px;
	}
	.offers-info {
    width: 90%;
    min-height: 245px;
		height: auto;
	}
	.feedback{
		.slick-next{
			right: 20px;
		}
		.slick-prev{
			left: 20px;
			z-index: 999;
		}
	}
	.interesting-things {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
	}
	.news__item .news__img-wrap{
		height: 140px;
	}
	.most-important-things .most-important-things__wrap, .my-proposition{
		min-height: auto;
	}
	.news__item h4 {
    color: #20202b;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
	}
	.news__item .news__desc .news__name{
		max-height: 4em;
	}
	.news__item .news__desc{
		max-height: 140px;
	}
	.feedback__text-wrap{
		margin-bottom: 0;
	}
	.footer{
		padding-bottom: 60px;
	}
	.calculator .calculator__option-long{
		margin-top: 0;
	}
	.calculator__option-long:first-child{
		margin-bottom: 0;
	}
	.calculator__option-long:first-child{
		margin-bottom: 0;
	}
}
@media (max-width: 399.98px){
	.my-proposition__banks .my-proposition__banks-list .my-proposition__bank{
		width: 100%;
		justify-content: center;
	}
	.main-navbar--fixed .contacts .contacts__phone{
		font-size: 12px;
	}
	.main-page__description-wrap .main-page__description-main-text .big-text {
    font-size: 34px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 34px;
	}
	.main-page__description-wrap .main-page__description-name {
    font-size: 25px;
    display: inline-block;
    width: 80%;
	}
	.about-me__block{
		padding-bottom: 10px;
	}
.interesting-things__header, .map .map-contacts .map-header,.feedback h2.feedback__header,	.about-me__block .info h3, .reasons-block .reasons-to-trust__header, .re-hash__header, .additional-options .additional-options__content-header, .most-important-things__header,.reasons-block .reasons-to-trust__header .gray-text ,.attention .attention__header,.attention .important-thing .important-head,.calculator__header,.my-proposition__banks .my-proposition__banks-header{
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
	}
	.calculator__parameters-base-rate{
		margin-bottom: 10px;
	}
	.calculator__header{
		margin-top: 11px;
		margin: 11px;
	}
	.calculator__parameters-base-rate .base-rate__val-cur{
		font-size: 22px;
	}
	.right-clc .calculator__option-name{
		margin-bottom: 10px;
		margin-top: 5px;
	}
	.calculator__option-long:first-child {
    margin-top: 5px;
    margin-bottom: 5px;
	}
	.calculator__option-name{
		margin-bottom: 5px;
	}
	.calculator .right-clc{
		margin-top: 0;
	}
	.calculator .calculator__option-long{
		margin-top: 0;
	}
	.calculator__option-panel{
		margin-bottom: 20px;
	}
	.calculator__option-long .calculator__option-name {
    margin: 0 auto;
    margin-bottom: 0;
    margin-top: 0px;
	}
	.reasons-block{
		padding-right: 10px;
		padding-left: 10px;
	}
	.additional-options__content{
		margin-bottom: 0;
	}
	.additional-options .additional-options__wrap{
		margin-bottom: 0;
	}
	.offers-info {
    width: 90%;
    min-height: 300px;
    height: auto;
    font-size: 14px;
    background: rgba(255,255,255,.8);
		p{
			font-size: 14px;
			line-height: 21px;
		}
	}
	.map .map-office-box{
		margin-top: 10px;
	}
	.map-contact-wrap .ac{
		margin-top: 10px;
	}
	.map-contact-wrap{
		margin-bottom: 10px;
	}
	.attention .attention__header{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.attention .attention__desc{
		margin-top: 10px;
	}
	.attention .important-thing{
		margin-top: 10px;
	}
	.section.calculator{
		padding-top: 0;
	}
	.individual-calc p {
    font-size: 18px;
    line-height: 22px;
	}
	.offers-info {
    width: 90%;
    min-height: 220px;
    height: auto;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.8);
	}
	.feedback h2.feedback__header{
		height: 50px;
		width: 200px;
		&:after,&:before{
			height: 50px;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	.feedback h2.feedback__header:after{
		right: auto;
		right: 100%;
		right: 191.5px;
		top: 0;
		//margin-left: -21px;
	}
	.feedback .feedback__item-list .slick-prev, .feedback .feedback__item-list .slick-next{
		display: none;
	}
	.attention .attention__dont-disturb-block .attention__dont-disturb-list .attention__dont-disturb-item {
    margin-left: 32px;
    display: block;
    font: 13px/24px "opensans-regular", sans-serif;
	}
	.attention .deprecated-things{
		margin-left: 0;
	}
	.map .map-contacts{
		margin-top: 0;
	}
	.map .map-contacts .map-office__name, .map .map-contacts .map-consult-box{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.map .map-consult-box{
		margin-top: 20px;
	}
	.map .map-office-phone, .map .map-office-email{
		margin-left: 0;
	}
	.map .map-office-phone, .map .map-office-email{
		font-size: 14px;
	}
	.map-messengers .map-messengers-link{
		flex-wrap: wrap;
		justify-content: center;
	}
	.map-messengers{
		margin-left: 0;
	}
	.interesting-things__header{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.news__item{
		width: 98%;
	}
	.attention .attention__dont-disturb-block .attention__dont-disturb-list .attention__dont-disturb-item{
		margin-left: 5px;
	}
	.feedback .feedback__item-list .slick-prev, .feedback .feedback__item-list .slick-next {
    top: 260px;
    z-index: 999;
    display: none !important;
	}
	.main-navbar .contacts .contacts__phone, .main-navbar--fixed .contacts .contacts__phone {
    display: block;
    font: 16px "montserrat-bold", sans-serif;
    line-height: 25px;
    color: #fff;
    font-size: 14px;
	}
	/*12/11/18*/
	.right-clc .calculator__option-name{
		font-family: "montserrat", sans-serif;
	}
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
