@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200
@include media-breakpoint-down(lg) {
	.menu-style, .main-navbar .menu, .main-navbar--fixed .menu{
		width: 100%;
	}
	.reasons-block{
		width: 100%;
		padding-right: 32px;
		.reasons-to-trust__header {
			font-size: 32px;
			.gray-text{
				font-size: 32px;
			}
		}
	}
	.re-hash__cart-wrap .re-hash__cart{
		margin-left: 30px;
	}
	.additional-options{
		min-height: 950px;
	}
	.additional-options .additional-options__content-list {
	    display: block;
	    margin-top: 32px;
	    min-width: auto;
	    height: auto;
	    display: flex;
	    /* height: 100%; */
	    flex-wrap: wrap;
	    justify-content: space-between;
	    width: 350px;
	}
	.additional-options__img-bg{
		background-position: 0;
		height: 100%;
		position: relative;
	}
	.additional-options__content{
		
	}
	.additional-options .additional-options__content-list .additional-options__content-item img{
		height: 55px;
		width: 55px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item:nth-child(2){
		width: 150px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item{
		margin: 0;
		width: 150px;
		max-width: 170px;
		margin-bottom: 20px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item:first-child{
		margin-left: 0;
	}
	.additional-options .additional-options__wrap {
	    margin-top: 10px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    padding-right: 69px;
	    padding-left: 43px;
	    height: 100%;
	}
	.additional-options__content-history {
	    display: block;
	    position: absolute;
	    padding-left: 0;
	    width: 100%;
	    height: auto;
	    left: 0;
	    right: 0;
	    margin: 0;
	    padding: 22px;
	    z-index: 10;
	}
	.most-important-things__item.left-item,
	.most-important-things__item.center-item,
	.most-important-things__item.right-item{
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.most-important-things__item.right-item{
		margin-bottom: 80px;
	}
	.most-important-things__header{
		margin-top: 15px;
	}
	.my-proposition__banks .my-proposition__banks-list{
		flex-wrap: wrap;
		.my-proposition__bank{
			display: block;
		    width: 100%;
		    text-align: center;
		    margin-bottom: 50px;
		}
	}
	.calculator__parameters-long{
		width: 570px;
		margin: 0 auto;
	}
	.attention{
		background-position: 0 50%;
	}

	.news__item-video{
		width: 90%;
	}
	.news__item{
		width: 40%;
	}

	/*antianimation*/
	.about-me__block .info .about-me__list .about-me__item{
		opacity: 1;
	}
	.reasons-to-trust__BTI{
		opacity: 1;
	}
	.reasons-to-trust__quick-shell{
		opacity: 1;
	}
	.reasons-to-trust__item{
		opacity: 1;
	}
	.re-hash__cart{
		opacity: 1;
	}
	.re-hash__header{
		opacity: 1;
	}
	.additional-options__content-header, .additional-options__content-item,.additional-options__content-history,.additional-options__img-bg{
		opacity: 1;
	}
}

// ≥1024px
@include media-breakpoint-down(md) {

	.tablet-none{
		display: none;
		&.active{
			display: flex;
		    position: absolute;
		    z-index: 999;
		    background: rgba(0,0,0,.8);
		    margin: 0;
		    padding: 0;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    min-height: 600px;
		    height: 100vh;
		    color: #000;
		    align-items: center;
		    flex-direction: column;
		    .menu {
			    display: -webkit-box;
			    display: -webkit-flex;
			    display: -ms-flexbox;
			    display: flex;
			    padding: 0;
			    margin: 0;
			    list-style-type: none;
			    height: 100%;
			    flex-direction: column;
			    justify-content: flex-start;
    			margin-top: 80px;
			    .menu__item{
				    margin-bottom: 15px;
				    font-size: 30px;
				    border-bottom: 1px solid #fff;
				    width: 100%;
				    justify-content: center;
				    display: flex;
				    align-items: center;
				    height: 40px;
				}
			}
		}
	}
	.contacts{
		margin-right: 60px;
	}
	.hamburger {
	    position: absolute;
	    right: 0;
	    top: 50%;
	    margin: 0;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
	    height: 40px;
	    width: 40px;
	    padding: 0;
	    display: flex;
	    outline: 0 !important;
	    z-index: 999;
	}
	.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before,.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
		background-color: #fff;
	}
	
	.main-navbar--fixed .hamburger-inner, 
	.main-navbar--fixed .hamburger-inner:after, 
	.main-navbar--fixed .hamburger-inner:before{
		background-color: #000;
	}
	.main-navbar--fixed .hamburger.is-active .hamburger-inner, 
	.main-navbar--fixed .hamburger.is-active .hamburger-inner:after, 
	.main-navbar--fixed .hamburger.is-active .hamburger-inner:before{
		background-color: #fff;
	}

	.main-navbar--fixed .menu__link{
		color: #fff;
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-bottom: 120px;
	}
	.reasons-to-trust__ad{
		justify-content: center;
	}

	.reasons-to-trust{
		height: 100% !important;
	}
	.re-hash{
		height: auto;
		padding-bottom: 150px;
	}

	.re-hash__cart{
		width: 330px;
		padding: 10px 15px;
		height: 220px;
	}
	.additional-options .additional-options__content-header{
		font-size: 32px;
		line-height: 40px;
	}
	.additional-options .additional-options__content-list{
		width: 320px;
	}
	.positive-flat{
		height: 100vh;
	}

	.feedback{ 
		padding-top: 30px;
		overflow: hidden;
		.feedback__item-list{
			margin-top: -140px;
			position: static;
		}
		.feedback__header{
			margin-top: 20px;
		}
	}
	.attention{
		background:none;
		max-height: 100%;
		height: 100%;
	}
	.attention .img-for-mobile__stop {
	    display: block;
	    object-fit: cover;
	    width: 100%;
	}
	.map .map-yandex {
	    position: static;
	    left: 0;
	    right: 0;
	    top: 80px;
	    bottom: 0;
	    background-color: #400;
	    height: 500px;
	    width: 100%;
	}
	.map .map-contacts {
	    width: 100%;
	    height: auto;
	}
	.map{
		margin-top: 0;
		padding-top: 0; 
	}
	.map-contact-wrap .ac{
		align-items: flex-start;
		margin-top: 30px;
	}
	.map-contact-wrap{
		height: auto;
		margin-bottom: 30px;
	}
	.news__item, .news__item-video{
		width: 100%;
	}
	.news__item .news__img-wrap .news__img{
		width: 100%;
		height: 100%;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	.main-page__description-wrap .main-page__description-name{
		font-size: 38px;

	}
	.main-page__description-wrap{
		display: block;
		width: 100%;
	}
	.main-page__description-wrap .main-page__description-main-text .big-text {
	    font-size: 38px;
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	.main-page__description-main-text{
		padding-bottom: 10px;
		span{
			font-size: 25px;
			text-align: center;
			display: block;
			margin-top: 15px;
		}
	}
	.main-page__description-wrap .main-page__description-main-text{
		padding-bottom: 10px;
	}
	.about-me__block{
		height: auto;
		padding-bottom: 100px;
	}
	.about-me__block .info {
   		padding: 0;
	    padding-top: 80px;
	    margin-top: 20px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.about-me{
		height: auto !important;
	}
	.reasons-to-trust .reasons-to-trust__fon-wrap{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.reasons-block .reasons-to-trust__header{
		text-align: center;
	}
	.re-hash{
		max-height: 100vh;
	}
	.re-hash__cart-wrap{
		display: flex;
		justify-content: space-between;
		width: 370px;
		margin: 0 auto;
	}
	.re-hash__cart-wrap .re-hash__cart{
		width: 100%;
		margin: 0 !important;
		box-shadow: none;
	}
	.section.additional-options{
		height: auto!important;
	}
	.additional-options__wrap{
		flex-wrap: wrap;
	}
	.additional-options__content{
		order: 1;
		width: 100%;
		margin-bottom: 100px;
	}
	.additional-options .additional-options__img-bg {
	    position: absolute;
	    height: 400px;
	    background-image: url(../img/man.png);
	    background-size: 312px 519px;
	    background-repeat: no-repeat;
	    z-index: 9;
	    bottom: -190px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	.additional-options__content-history {
	    display: block;
	    position: static;
	    padding-left: 0;
	    width: 100%;
	    height: auto;
	    left: 0;
	    right: 0;
	    margin: 0;
	    padding: 22px;
	    z-index: 10;
	    margin-bottom: 30px;
	    margin-top: 300px;
	    position: relative;
	    &:before{
			content: "";
			display: block;
			width: 100%;
			height: 250px;
			margin-top: -200px;
			background-image: url("../img/man.png");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: 50% 0px;
			position: absolute;
			bottom: 100%;
			left: 0;
			z-index: 0;
	    }
	}
	.additional-options .additional-options__img-bg{
		display: none;
	}
	.additional-options .additional-options__content-list{
		width: 100%;
		justify-content: space-around;
		margin-bottom: 30px;
	}
	.additional-options .additional-options__content-header{
		text-align: center;
	}
	.additional-options .additional-options__img-bg {
	    position: absolute;
	    width: 312px;
	    min-width: 312px;
	    max-width: 312px;
	    height: 519px;
	    background-image: url(../img/man.png);
	    -webkit-background-size: 312px 519px;
	    background-size: 312px 519px;
	    background-repeat: no-repeat;
	    background-position: 0 100%;
	    -webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	    align-self: flex-end;
	    margin-right: 45px;
	    z-index: 9;
	    bottom: -190px;
	}
	.additional-options__content-history .button{
		width: 100%;
	}
	.additional-options__img-bg{
		order: 2;
		width: 100%;
	}

	.positive-flat .desc-wrap{
		width: 80%;
		h3{
			font-size: 20px;
		}
	}
	.most-important-things__header{
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 15px;
	}

	.most-important-things__item-text{
		display: none;
	}
	.most-important-things__wrap{
		min-height: 900px;
	}
	.most-important-things{
		height: 100% !important;
	}

	.my-proposition__banks .my-proposition__banks-list,.my-proposition__banks{
		display: none;
	}

	.offers-info{
		width: 470px;
		height: 250px;
	}
	.calculator__parameters-base-rate{
		&.fix{
		    position: fixed;
		    top: 0px;
		}
	}
	.calculator__option, .calculator__option-long {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    margin-bottom: 20px;
	    flex-wrap: wrap;
	    text-align: center;
	    margin: 0 auto;
	}
	.calculator__option-name{
		width: 100%;
	}
	.calculator__parameters-long{
		width: 100%;
	}
	.calculator__option-long .calculator__option-name{
		width: 100%;
	}
	.section.calculator{
		padding-top: 20px;
	}
	.calculator__option-long .calculator__option-panel {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    max-width: 90%;
	    min-width: 90%;
	    width: 90%;
	    height: 100%;
	    margin: auto;
	}
	.calculator__option-long .calculator__option-variant{
		width: 100%;
		min-width: 100%;
		margin-bottom: 15px;
	}
	.calculator__option-panel {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    max-width: 90%;
	    min-width: 0;
	    width: 90%;
	    height: 100%;
	    margin: 0 auto;
	    margin-bottom: 30px;
	}
	.calculator__header{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 32px;
	}
	.calculator__parameters{
		width: 100%;
	}
	.calculator__option-name{
		margin-bottom: 15px;
	}
	.calculator__option-long:first-child{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.right-clc .calculator__option-panel{
		width: 90px;
		max-width: 90%;
		min-width: 90%;
	}
	.calculator__option-long .calculator__option-name{
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.right-clc .calculator__option-name {
	    color: #20202b;
	    font-family: "montserrat-bold", sans-serif;
	    font-size: 16px;
	    font-weight: 700;
	    max-width: 100px;
	    margin: 0 auto;
	    margin-bottom: 15px;
	    margin-top: 30px;
	}
	.right-clc .second-marketplace{
		margin-top: 0;
	}
	.individual-calc {
	    margin: 10px;
	    flex-wrap: wrap;
	    height: auto;
	    padding: 10px 20px;
	    margin-top: 30px;
	}
	.attention{
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.map .map-contacts{
		min-width: 400px;
		margin: 30px 10px;
		padding: 15px;
		min-width: 100px;
	}
	.map .map-contacts .map-office__address, .map .map-contacts .map-office__time{
		margin-left: 0;
	}
	.map-contact-wrap{
		height: auto;
	}
	.map{
		margin-top: 0;
		padding-top: 0; 
		height: auto;
	}
	.news__item, .news__item-video{
		width: 95%;
	}
	.news__item .news__img-wrap .news__img{
		width: 100%;
		height: 100%;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

// ≥480px
@include media-breakpoint-down(xs) {
	.main-page{
		height: 100vh;
	}
	.about-me__block{
		height: auto;
		padding-bottom: 100px;
	}
	.about-me__block .info {
   		padding: 0;
	    padding-top: 80px;
	    margin-top: 20px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.about-me{
		height: auto !important;
	}
	.contacts{
		margin-right: 60px;
		.contacts__phone{
			display: none;
		}
	}
	.main-page__description-wrap .main-page__description-main-text .big-text {
	    font-size: 28px;
	    display: block;
	    margin: 0 auto;
	    text-align: center;
	}
	.main-page__description-wrap .main-page__description-name{
		font-size: 28px;
	}
	.logo{
		height: 60px;
	    display: flex;
	    align-items: center;
	}
	.main-navbar .logo-icon, .main-navbar--fixed .logo-icon{
		width: 100px;
	}
	.main-navbar .contacts, .main-navbar--fixed .contacts {
	    color: #fff;
	    text-align: right;
	    height: 60px;
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	}
	.main-navbar .contacts .contacts__address, .main-navbar--fixed .contacts .contacts__address {
	    display: none;
	    font: 16px "montserrat-bold", sans-serif;
	    line-height: 25px;
	    color: #fff;
	    width: 100%;
	}
	.reasons-to-trust__BTI{
		width: 100%;
		max-width: 370px;
		border-radius: 10px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.re-hash__cart-wrap{
		display: flex;
		justify-content: space-between;
		width: 300px;
		margin: 0 auto;
	}
	.most-important-things__item{
		width: 300px;
	}
	.most-important-things__item-img-wrap{
		width: 300px;
	}
	.most-important-things__item-name{
		&:after{
			display: block;
			content: "";
			background-image: url("../img/icons/svg/arrow.svg");
			width: 20px;
			height: 10px;
		}
	}
	.most-important-things__item-name:after {
	    display: block;
	    content: "";
	    background-image: url(../img/icons/svg/arrow.svg);
	    width: 100%;
	    height: 10px;
	    margin-top: 5px;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    transform: rotate(270deg);
	    /* background-color: #f00; */
	    width: 10px;
	    height: 18px;
	    margin: 0 auto;
	    transition: all .5s;
	}
	.active .most-important-things__item-name:after{
		transform: rotate(90deg);
		transition: all .5s;
	}
	.offers-info{
		width: 90%;
		height: 300px;
		.button{
			width: 90%;
		}
	}
	.most-important-things__header{
		font-size: 32px;
	}
	.additional-options .additional-options__wrap{
		padding-right: 10px;
		padding-left: 10px;
	}
	.additional-options .additional-options__content-list .additional-options__content-item{
		width: 100%;
	}
	.additional-options__content-list{
		justify-content: center;
	}
	.re-hash__cart-wrap{
		min-height: 300px;
	}
	.re-hash{
		min-height: 100vh;
		max-height: 100%;
	}
	.reasons-to-trust__quick-shell{
		margin-left: 10px;
		margin-right: 10px;
	}
	.additional-options__content{
		margin-bottom: 40px;
	}
	.most-important-things .most-important-things__wrap,.my-proposition{
		padding-top: 0;
	}
	.re-hash__cart-wrap{
		max-width: 95%;
	}
	.re-hash {
	    min-height: 100%;
	    max-height: 100%;
	    padding-bottom: 30px;
	    padding-top: 0;
	    .slick-prev, .slick-next{
			display: none !important;
	    }
	}
	.positive-flat{
		height: 100vh;
	}
	.attention .attention__header {
	    width: 90%;
	    font-size: 32px;
	    margin: 0 auto;
	    display: block;
	    height: auto;
	    margin-top: 30px;
	    text-align: center;
	    width: 100%;
	}
	.attention {
	    padding-top: 0px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.attention .attention__dont-disturb-block .attention__dont-disturb-list .attention__dont-disturb-item{
		margin-left: 0;
	}
	.map .map-contacts{
		box-shadow: none;
	}
	.interesting-things__header{
		font-size: 32px;
		padding-top: 0;
	}
	.interesting-things{
		padding-top: 0;
	}

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
