.re-hash{
	background-color: #7e89a1;
}

.re-hash__header{
    font: 40px "montserrat-regular", sans-serif;
    letter-spacing: .128px;
    font-weight: 500;
    display: block;
    margin: 60px auto 32px;
    color: $accentColor;
    max-width: 760px;
    text-align: center;
}