.re-hash{
	background-color: #7e89a1;
}

.re-hash__header{
    font: 40px "montserrat-regular", sans-serif;
    letter-spacing: .128px;
    font-weight: 500;
    display: block;
    margin: 60px auto 32px;
    color: $accentColor;
    max-width: 760px;
    text-align: center;
}

.re-hash__cart-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.re-hash__cart{
	display: block;
	width: 370px;
	height: 210px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	background-color: #ffffff;
	justify-content: space-between;
	margin-left: 30px;
	margin-bottom: 30px;
	padding: 20px 30px;
	&:hover{
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
	}
	&:first-child{
		margin-left: 0;
	}
	&:nth-child(4){
		margin-left: 0;
	}
	.re-hash__cart-text{
		font: 14px/25px "opensans-regular", sans-serif;
		color: #20202b;
		font-weight: 400;
	}
	.re-hash__cart-img-wrap{
		width: auto;
		display: flex;
		justify-content: center;
		img{
			height: 60px;
			margin-bottom: 14px;
		}
	}
	.re-hash__cart-tag{
		padding-left: 23px;
		padding-right: 23px;
		height: 30px;
		width: 140px;
		justify-content: center;
		display: inline-flex;
		align-items: center;
		background-color: rgba(255,134,102,.2);
		color: #e77051;
		border-radius: 5px;
		font: 11px "montserrat-bold", sans-serif;
		text-transform: uppercase;
		font-weight: 700;
	}
}

.re-hash__header{
	opacity: 0;
}
.re-hash__cart{
	opacity: 0;
	animation-duration: 0.8s;
}
.re-hash__cart:nth-child(3){
	animation-delay: 0.2;
}
.re-hash__cart:nth-child(2){
	animation-delay: 0.4;
}
.re-hash__cart:nth-child(1){
	animation-delay: 0.6;
}
.re-hash__cart:nth-child(5){
	animation-delay: 0.4;
}
.re-hash__cart:nth-child(4){
	animation-delay: 0.6;
}