$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;
$menuHeight: 80px;
$accentColor: #fff;
$pTop: 51px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 0px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 480px, md: 768px, lg: 1024px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;
