@import "vars";
@import "fonts";
@import "libs";
@import "animate";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

/******main section*****/
@import "burger";
@import "main-section";
@import "about-me-section";
@import "seven-reasons";
@import "re-hash";
@import "additional-options";
@import "positive";
@import "most-important";
@import "my-proposition";
@import "feedback";
@import "calculator";
@import "attention";
@import "map";
@import "interesting";
.hidden{
	display: none;
}
.re-hash,.positive-block,.additional-options__shadows,.positive-flat,.my-proposition,.official-partners,.feedback,.calculator,.attention{
	padding-top: 80px;
}
.reasons-to-trust .reasons-to-trust__fon-wrap{
	padding-top: 172px;
}
.most-important-things .most-important-things__wrap{
	padding-top: 80px;
}
.main-navbar--fixed{
	@extend .main-navbar;
	background-color: #fff;
	color: #7e89a1;
	position: fixed;
	top: 0;
	display: none;
	align-items: center;
	z-index: 99;
	.menu__link{
		color: #20202b;
	}
	.contacts{
		color: #7e89a1;
		.contacts__phone{
			color: #7e89a1;
		}
	}
}
.hamburger{
	display: none;
}
.menu-style{
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.button{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: auto 54px;
	align-items: center;
	border-radius: 10px;
	background-color: #ff8666;
	color: $accentColor;
	height: 50px;
	&:hover,&:focus,&:active{
		outline: 0;
		text-decoration: none;
		color: #fff;
	}
}
.disabled{
	opacity: 0;
}




@import "media"; // Always at the end
